@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body {
  background-color: #161616;
  overflow-x: hidden;
  border-radius: border-box;
  margin: 0;
  padding: 0;
}